@import "../../utils/css/variables.scss";
@import "../../utils/css/mixins.scss";

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group__label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input-group__input-container {
  display: flex;
  border-radius: $border-radius;
  overflow: hidden;
  background: $light-color;
}

.input-group__input {
  @include input;
}

.input-group__input_invalid {
  background: rgba($invalid-bg, 0.5);
}

.input-group__input_mini-font {
  @media (max-width: 767px) {
    font-size: 0.75rem;
    height: 50px;
  }
}

.input-group__toggler-password-visibility {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  color: $color-main-shadow;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.15s linear;

  @include hover-over-main-shadow-color;
}

.input-group__toggler-password-visibility_invalid-input {
  background: rgba($invalid-bg, 0.5);
}
