@import "../../utils/css/variables.scss";
@import "../../utils/css/mixins.scss";

.auth-section {
  flex-grow: 1;
  background: $color-main;

  @media (max-width: 767px) {
    padding-top: $header-height-sm;
  }
}

.auth-section__inner {
  @include section;
}
