@import "../../utils/css/variables.scss";
@import "../../utils/css/mixins.scss";

.hero {
  @include padding-header;
  display: flex;
  background: $bg-color-main;
  color: $light-color;
  overflow: hidden;
  min-height: 90vh;
}

.hero__inner {
  @include section;
  display: flex;

  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.hero__text {
  background: $bg-color-main;
  padding: 4rem 4rem 2rem 0;

  @media (max-width: 992px) {
    padding: 2rem 0;
  }
  @media (max-width: 767px) {
    padding: 1rem 0;
  }
}

.hero__text-heading {
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.1;

  &::before {
    @include before-line;
    margin-bottom: 2rem;

    @media (max-width: 767px) {
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 1200px) {
    font-size: 3rem;
  }

  @media (max-width: 767px) {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1;
  }
}

.hero__text-paragraph {
  font-size: 1.5rem;
  line-height: 1.5;
  color: darken($light-color, 15);

  @media (max-width: 767px) {
    font-size: 1.1rem;
    line-height: 1.1;
  }
}

.hero__calculator {
  height: 100%;
  width: 100%;
  background: $bg-color-secondary;
  padding: 2rem 0 2rem 4rem;
  position: relative;
  text-align: justify;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: $bg-color-main-shadow;

    @media (max-width: 992px) {
      left: -5rem;
      width: 150vw;
    }
  }

  @media (max-width: 992px) {
    padding: 2rem 0;
  }
  @media (max-width: 767px) {
    padding: 1rem 0;
  }
}

.hero__calculator-inner {
  position: relative;

  width: 100%;
  height: 100%;
  // overflow: hidden;
}
