@import "../../utils/css/variables.scss";
@import "../../utils/css/mixins.scss";

.nav-item-dropdown-list {
  @media (max-width: 767px) {
    width: 100%;
    height: 100%;
  }
}

.nav-item-dropdown-list__toggler {
  display: flex;
  transition: $main-transition;
  @include hover-to-seconadry-color;

  @media (max-width: 767px) {
    min-height: calc(
      ((100vh - #{$header-height-sm}) / #{$nav-items-amount}) - #{$border-bottom-width-mob-nav-item}
    );
    align-items: center;
    justify-content: center;
  }
}

.nav-item-dropdown-list__toggler_open {
  @media (max-width: 767px) {
    background: lighten($bg-color-main-dark, 10);
  }
}

.nav-item-dropdown-list__title {
  text-transform: uppercase;
}

.nav-item-dropdown-list__arrow {
  margin-left: 0.2rem;
  transition: transform 0.15s linear;

  svg {
    display: block;
  }
}

.nav-item-dropdown-list__arrow_is-opened {
  transform: rotate(-180deg);
}

.nav-item-dropdown-list__options {
  border-radius: $border-radius;
  border: 1px solid $light-color;
  overflow: hidden;

  @media (max-width: 767px) {
    border-radius: 0;
    border: 0;
    border-top: $border-bottom-width-mob-nav-item solid $bg-color-secondary;
  }
}

.nav-item-dropdown-list__options-item {
  background: $bg-color-main-shadow;
  border-bottom: 1px solid $light-color;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: $main-transition;

  &:last-child {
    border-bottom: 0;
  }

  @include hover-bg-to-seconadry-color;

  @media (max-width: 767px) {
    font-size: 1rem;
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    text-decoration: none;
    color: $light-color;

    @media (max-width: 767px) {
      padding: 0.5rem 5%;
    }
  }
}
