@import "../../utils/css/variables.scss";
@import "../../utils/css/mixins.scss";

.auth-form {
  width: 100%;
  background: $color-main-shadow;
  padding: 2rem;
  border-radius: $border-radius;

  @media (max-width: 767px) {
    padding: 1rem;
  }
}

.auth-form__heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;

  @media (max-width: 767px) {
    font-size: 2rem;
  }
}

.auth-form__toggle-message {
  font-size: 1.25rem;
  font-weight: bold;
}

.auth-form__toggler {
  margin-left: 0.5rem;
  color: $color-secondary;
  cursor: pointer;

  @include hover-over-secondary-color;

  &:active {
    transition: $main-transition;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transition: $main-transition;
    }
  }
}

.auth-form__forgot-password {
  color: $color-secondary;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;

  &::before {
    @include before-line;
    margin-bottom: 0.5rem;
  }

  @include hover-over-secondary-color;

  &:active {
    transition: $main-transition;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transition: $main-transition;
    }
  }
}

.auth-form__register-note {
  font-size: 0.8rem;
  font-weight: bold;

  &::before {
    @include before-line;
    margin-bottom: 0.5rem;
  }
}

.auth-form__forgot-password-note {
  font-size: 0.8rem;
  font-weight: bold;

  &::before {
    @include before-line;
    margin-bottom: 0.5rem;
  }
}
