@import "./variables.scss";

@mixin app-inner-width {
  width: $app-inner-width;
  max-width: 1200px;
}

@mixin padding-header {
  padding-top: $header-height;

  @media (max-width: 767px) {
    padding-top: $header-height-sm;
  }
}

@mixin section {
  @include app-inner-width;
  padding: 2rem 0;
  margin: 0 auto;

  @media (max-width: 767px) {
    padding: 1rem 0;
  }
}

@mixin input {
  padding: 10px 15px;
  width: 0;
  flex-grow: 1;
  background: $light-color;
  color: $bg-color-main-shadow;
  font-size: 2rem;
  font-weight: bold;

  &::placeholder {
    color: rgba($bg-color-main-shadow, 0.3);
  }

  @media (max-width: 767px) {
    font-size: 1.5rem;
  }
}

@mixin button {
  color: $light-color;
  line-height: normal;
  background: $bg-color-secondary;
  border-radius: $border-radius;
  padding: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: $main-transition;

  &:active {
    background: darken($bg-color-secondary, 15);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: darken($bg-color-secondary, 15);
    }
  }
}

@mixin modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $bg-color-main-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hover-bg-to-seconadry-color {
  &:active {
    background: $bg-color-secondary;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: $bg-color-secondary;
    }
  }
}

@mixin hover-bg-over-seconadry-color {
  &:active {
    background: darken($bg-color-secondary, 15);
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: darken($bg-color-secondary, 15);
    }
  }
}

@mixin hover-to-seconadry-color {
  &:active {
    color: $bg-color-secondary;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $bg-color-secondary;
    }
  }
}

@mixin hover-over-secondary-color {
  &:active {
    color: darken($bg-color-secondary, 15);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: darken($bg-color-secondary, 15);
    }
  }
}

@mixin hover-over-main-shadow-color {
  &:active {
    color: lighten($bg-color-main-shadow, 15);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: lighten($bg-color-main-shadow, 15);
    }
  }
}

@mixin auth-form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-bottom: 1.5rem;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

@mixin auth-form {
  margin: 2rem 0 3rem 0;

  @media (max-width: 767px) {
    margin-bottom: 1rem;
  }
}

@mixin before-line {
  content: "";
  display: block;
  height: 5px;
  width: 100px;
  background: $bg-color-secondary;
  border-radius: 2px;
}
