// colors
$bg-color-main: #271dac;
$bg-color-main-shadow: #3f34cd;
$bg-color-main-dark: #16143d;
// $bg-color-main-dark: #020029;
// $bg-color-secondary: #32c99c;
// $bg-color-secondary: #30b46b;
// $bg-color-secondary: #5bb020;
// $bg-color-secondary: #24c200;
$bg-color-secondary: #4cbe72;
$light-color: #f6f6f6;
// $light-color: #dadada;
$invalid-color: #fb742d;
$invalid-bg: #dc3545;
// $invalid-color: #ff0077;

// $color_02: #19118e;

// $main-color: #fb742d;
// $grey-color: #47464d;
// $lightest-color: #ffffff;
// $darkest-color: #000000;

// metrics
$app-inner-width: 90%;
$header-height: 120px;
$header-height-sm: 80px;
$border-radius: 5px;
$border-bottom-width-mob-nav-item: 3px;

// amounts
$nav-items-amount: 4;

// z-i
$header-z-i: 9;
// $lang-selector-z-i: 10;
// $exchange-options-selector-z-i: 10;
// $mob-menu-z-i: 8;
$spinner-z-i: 11;
$modal-z-i: 11;

// transitions
$main-transition: all 0.15s linear;
$menu-btn-transition: all 0.3s ease-out;
$mobile-menu-transition: all 0.3s ease-out;
