@import "../../utils/css/variables.scss";
@import "../../utils/css/mixins.scss";

.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg-color-main-shadow;

  z-index: $spinner-z-i;

  svg {
    height: 100px;
    width: 100px;
    display: block;
    fill: $bg-color-secondary;
  }
}
