@import "../../utils/css/variables.scss";
@import "../../utils/css/mixins.scss";

.modal {
  @include modal;
  z-index: $modal-z-i;
  flex-direction: column;
  color: $light-color;
}

.modal__msg {
  padding: 0 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.modal__btn-group {
  width: 280px;
  display: flex;
  justify-content: space-around;

  button {
    @include button;
    min-width: 80px;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
