@import "../../utils/css/variables.scss";
@import "../../utils/css/mixins.scss";

.forgot-password {
  margin: 2rem 0 3rem 0;
}

.forgot-password__form-row {
  @include auth-form-row;
}

.forgot-password__submit-btn {
  @include button;
  font-size: 1.5rem;
  font-weight: bold;
}
