@import "../../utils/css/variables.scss";
@import "../../utils/css/mixins.scss";

.calculator {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 992px) {
    flex-direction: column-reverse;
  }
}

.calculator__rates__block {
  margin-bottom: 2rem;

  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}

.calculator__rates {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  row-gap: 0.25rem;
  column-gap: 0.5rem;
  // grid-auto-rows: 200px;
  // justify-content: space-between;

  @media (max-width: 767px) {
    grid-template-columns: 150px 150px;
  }
}

.calculator__rates-item {
  display: flex;
  align-items: center;
  width: 150px;
  padding: 0.25rem;
  background: darken($color-main-shadow, 7);
  border-radius: $border-radius;
}

.calculator__rates-item-img-container {
  display: flex;
  // border: 2px solid $light-color;
  // border-radius: 50%;
}

.calculator__rates-item-name {
  margin-left: 0.25rem;
  font-weight: bold;
}

.calculator__rates-item-rate {
  font-weight: bold;
}

.calculator__rates__note {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.calculator__converter__block {
  margin-bottom: 2rem;
}

.calculator__converter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator__swaper {
  display: inline;
  margin-top: 1rem;
  font-size: 2rem;
  transform: rotate(90deg);
  cursor: pointer;
  transition: $main-transition;

  @include hover-to-seconadry-color;
}

.calculator__note {
  display: flex;
  align-items: center;
  margin: 0.5rem 0 1.5rem 0;
  font-weight: bold;

  @media (max-width: 767px) {
    font-size: 0.8rem;
  }
}

.calculator__note-icon {
  margin-right: 0.5rem;
  color: $color-secondary;
  background: $light-color;
  border-radius: $border-radius;

  svg {
    display: block;
  }
}

.calculator__note-text {
  margin-right: 0.5rem;
}

.calculator__note-link {
  a {
    text-decoration: none;
    transition: $main-transition;
    color: $color-secondary;

    @include hover-over-secondary-color;
  }
}

.calculator__exchange-btn {
  @include button;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;

  @media (max-width: 767px) {
    font-size: 1.2rem;
  }
}
