@import "../../utils/css/variables.scss";
@import "../../utils/css/mixins.scss";

.calculator {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.calculator__rates__block {
  margin-bottom: 2rem;

  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}

.calculator__rates {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 0.25rem;
  column-gap: 0.5rem;

  @media (max-width: 767px) {
    grid-template-columns: auto auto;
  }
}

.calculator__rates-item {
  display: flex;
  align-items: center;
  width: 150px;
  padding: 0.25rem;
  background: darken($bg-color-main-shadow, 5);
  border-radius: $border-radius;
}

.calculator__rates-item-name {
  margin-left: 0.25rem;
  font-weight: bold;
}

.calculator__rates-item-rate {
  font-weight: 100;
}

.calculator__rates__note {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.calculator__converter__block {
  margin-bottom: 2rem;
}

.calculator__converter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator__swaper {
  display: inline;
  margin-top: 1rem;
  font-size: 2rem;
  transform: rotate(90deg);
  cursor: pointer;
  transition: $main-transition;

  @mixin hover {
    color: $bg-color-secondary;
  }
  &:active {
    @include hover;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @include hover;
    }
  }
}

.calculator__note {
  margin-bottom: 1rem;
}

.calculator__exchange-btn {
  @include button;
  width: 100%;
  height: 3rem;
  font-weight: bold;

  @media (max-width: 767px) {
    height: auto;
  }
}
