@import "../../utils/css/variables.scss";
@import "../../utils/css/mixins.scss";

.exchange-data {
  width: 100%;
}

.exchange-data__title {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.exchange-data__input-group {
  display: flex;
  height: 4rem;
  border-radius: $border-radius;
  overflow: hidden;
  background: $light-color;

  @media (max-width: 767px) {
    height: 3rem;
  }
}

.exchange-data__input-group__input {
  @include input;
  border-right: 2px solid $color-main-shadow;
}

.exchange-data__input-group__input_invalid {
  background: rgba($invalid-bg, 0.5);
}

.exchange-data__currency-selector {
  width: 12rem;
  background: $light-color;
  color: $color-main-shadow;

  @media (max-width: 767px) {
    width: 9rem;
  }
}

.exchange-data__selected {
  height: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  @mixin hover {
    .exchange-data__select-arrow {
      color: $color-secondary;
    }
  }
  &:active {
    @include hover;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @include hover;
    }
  }
}

.exchange-data__currency-img {
  flex-shrink: 0;
  margin-right: 0.25rem;
  width: 30px;
  height: 30px;

  @media (max-width: 767px) {
    width: 20px;
    height: 20px;
  }
}

.exchange-data__currency-name-container {
  // @media (max-width: 767px) {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  // }
}

.exchange-data__currency-name {
  font-weight: bold;
  font-size: 1.5rem;

  @media (max-width: 767px) {
    font-size: 1.25rem;
  }
}

.exchange-data__currency-protocol {
  margin-left: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;

  @media (max-width: 767px) {
    font-size: 0.6rem;
  }
}

.exchange-data__select-arrow {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: auto;
  font-size: 2rem;
  transition: $main-transition;

  @media (max-width: 767px) {
    font-size: 1.25rem;
  }
}

.exchange-data__select-arrow_is-opened {
  transform: rotate(-180deg);
}

.exchange-data__options {
  position: relative;
  z-index: 1;
  height: 200px;
  border: 1px solid $color-main;
  border-radius: $border-radius;
  transition: $main-transition;
  overflow-y: scroll;

  // Custom scrollbar
  /* width */
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-main-dark;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-secondary;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: darken($color-secondary, 10);
  }
}

.exchange-data__select-options-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background: $light-color;
  border-bottom: 1px solid $color-main;
  cursor: pointer;
  transition: $main-transition;

  &:last-child {
    border-bottom: 0;
  }

  @include hover-bg-to-seconadry-color;
}
